{% extends 'base.html.twig' %}

{% block title %}Colorize ROM{% endblock %}

{% block body %}
    <h2>Colorize ROM</h2>
    {{ form_start(colorize_form) }}
    {{ form_errors(colorize_form) }}
    {{ form_widget(colorize_form) }}
    {{ form_end(colorize_form) }}
{% endblock %}

{% block javascripts %}
    <script lang="js">
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
