.container {
    max-width: 100%;
}

label {
    display: inline;
}

[href^="http"]:not([href*="codepen.io"])::after {
    content: '(external link)';
    display: inline-block;
    width: .7em;
    height: .7em;
    text-indent: .7em;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: .1em;
}
