{% extends 'base.html.twig' %}

{% block title %}DOF Configtool Client{% endblock %}

{% block body %}
    <h1>DOF Configtool Client {{ constant('DOFCTC_VERSION') }}</h1>
    <p>Started as download and tweak client for the DOF Configtool, becomes a kind of "Swiss Army Knife" for Virtual Pins</p>
    <img src="{{ asset('images/Vpinball_cover.png') }}">
    <img src="{{ asset('images/DirectOutputR3_Small.png') }}">
    <img src="{{ asset('images/ProgIcon.png') }}">
{% endblock %}
