{% extends 'base.html.twig' %}

{% block title %}Tables{% endblock %}

{% block body %}
    {% for hash,table in tables %}
        <a href="{{ path('table', {'hash': hash, 'selected_rom': '_'}) }}">{{ table }}</a><br>
    {% endfor %}
{% endblock %}
