[dof]

; Your_API_KeY for http://configtool.vpuniverse.com
LCP_APIKEY = YOURAPIKEY

; The path where the DOF is installed
path = C:\DirectOutput

[visualpinball]

; The path where the Visual Pinball is installed
path = C:\Visual Pinball
