{% extends 'base.html.twig' %}

{% block title %}Download Config Files{% endblock %}

{% block body %}
    <h2>Download Config Files</h2>
    <p>Download your DOF configuration files from <a href="http://configtool.vpuniverse.com">http://configtool.vpuniverse.com</a>.</p>
    {{ form_start(download_form) }}
    {{ form_errors(download_form) }}
    {{ form_widget(download_form) }}
    {{ form_end(download_form) }}

    {% if git_diff|default %}
        <hr>
        {% include 'git_diff.html.twig' %}
    {% endif %}
{% endblock %}
