{% extends 'base.html.twig' %}

{% block title %}Activate PinUp Packs{% endblock %}

{% block body %}
    <h2>Active PinUp Packs</h2>
    {{ form_start(puppacks_form) }}
    {{ form_errors(puppacks_form) }}
    {{ form_widget(puppacks_form) }}
    {{ form_end(puppacks_form) }}
{% endblock %}
